---
interface Props {
  title?: string;
  sub?: string;
  copy?: string;
  subCopy?: string;
  image: string;
  href?: string;
  linkText?: string;
  cards?: string;
}
const { title, sub, copy, subCopy, image, href, linkText, cards } = Astro.props;
---



<div class="relative isolate overflow-hidden bg-gray-900 py-24 sm:py-32">
  <img src={image} alt="" class="absolute inset-0 -z-10 h-full w-full object-cover object-right md:object-center">
  <div
  class="absolute inset-0 -z-10 "
  style="background-color: black; opacity: 0.8;"
>
</div>
  

    <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-6xl lg:mx-0">
    
          {
            sub ? (
              <>
                <h1 class="text-xl font-bold font-sans tracking-tight text-easynet-orange">
                  {title}
                </h1>
                <h2 class="mt-4 font-bold tracking-tight text-white sm:mt-5 text-4xl sm:text-4xl xl:text-6xl">
                  {sub}
                </h2>
              </>
            ) : (
              <h1 class="mt-4 font-serif text-center tracking-tight text-white sm:mt-5 text-4xl sm:text-4xl xl:text-6xl">
                {title}
              </h1>
            )
          }
            
          </div>

          <div class=" mt-6">
            <div class="mx-auto max-w-7xl text-lg leading-8 text-gray-200">
              <slot name="heroContent" />
            </div>
            
          </div>



    <div class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-6 sm:mt-20 lg:mx-0 lg:max-w-none lg:grid-cols-3 lg:gap-8">

      <div class="flex gap-x-4 rounded-xl bg-black/20 p-6 ring-1 ring-inset ring-white/30">

        <slot name="card1" />
      
     
      </div>

      <div class="flex gap-x-4 rounded-xl bg-black/20 p-6 ring-1 ring-inset ring-white/30">

        <slot name="card2" />
      
     
      </div>

      <div class="flex gap-x-4 rounded-xl bg-black/20 p-6 ring-1 ring-inset ring-white/30">

        <slot name="card3" />
      
     
      </div>


      
    </div>
  </div>
</div>
