---
interface Props {
  href?: string;
  marginTop?: boolean;
  newTab?: boolean;
}
const { href, marginTop = true, newTab = false } = Astro.props;
---

{
  !!href ? (
    <a
      href={href}
      
      class={`${
        marginTop && "mt-6"
      } block sm:inline-flex items-center text-center uppercase no-underline bg-easynet-orange px-5 py-3 text-sm sm:text-lg tracking-wider font-bold hover:bg-gray-300 shadow-lg text-white rounded-lg`}
    >
      <slot />
    </a>
  ) : (
    <button
      
      class={`${
        marginTop && "mt-6"
      }  block sm:inline-flex items-center uppercase bg-keld-yellow px-4 sm:px-7 py-4 text-sm sm:text-lg tracking-wider font-bold text-keld-slate shadow-sm hover:bg-yellow-700 hover:text-keld-slate focus:outline-none focus:ring-2 focus:ring-keld-yellow focus:ring-offset-2`}
    >
      <slot />
    </button>
  )
}
