---
import Logo from "../../assets/logo/es-logo-new3.png";
---
<div class="w-full px-4 py-8">
<div class="lg:flex lg:flex-1 items-center justify-between bg-white hidden">
<div>
<a href="/">
<img 
src={Logo.src}
width="220"
alt="web design and seo"
class="ml-4"
/>
</a>
</div>

<a class="bg-samiad-gold hover:bg-samiad-purple px-4 py-4 text-white uppercase font-serif block mr-4 text-xl" href="https://www.samiad.com/enquire-now/">
   Enquire Now 
</a>


</div>

<div class="flex-1 items-center bg-white lg:hidden">
    <div>
    <img 
    src={Logo.src}
    width="220"
    alt="International Summer School"
    class="mx-auto"
    />
    </div>
    
  
    
    
    </div>
</div>