---
import Header from "../components/Header/Header.astro";
import Footer from "../components/Footer/Footer.astro";
import '@fontsource-variable/playfair-display';
import '@fontsource/poppins';
export interface Props {
  title: string;
  description?: string;
}

const {
  title,  
  description,
} = Astro.props;

---

<!DOCTYPE html>
<html lang="en">
  <head>
    
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />  
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <meta property="og:type" content="EasyNet Solutions" />
    <meta property="og:description" content="EasyNet Solutions. Affordable, professional web design, SEO and digital marketing services.">
    <meta property="og:description" content={description} />
    <meta property="twitter:title" content="EasyNet Solutions">
    <meta property="twitter:description" content="EasyNet Solutions. Affordable, professional web design, SEO and digital marketing services.">
    <meta name="description" content={description} />

    <title>{title}</title>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-P9FXV6EXR4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-P9FXV6EXR4');
</script>

  </head>
  <body   class="text-gray-800">
    <Header />
    
    <slot />
   <Footer />
  </body>
</html>